@page
@model Mellow.RazorPage.Pages.Admin.Roles.IndexModel
@{
    Layout = "/Pages/Admin/Shared/_AdminLayout.cshtml";
}



<div class="card">
    <h5 class="card-header">
        <a asp-page="Insert" class="btn btn-primary">Add New Role</a>
    </h5>
    <div class="">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th>Users</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var role in  Model.RolesVM)
                {
                    <tr>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@role.Role.Name</strong></td>

                        @foreach (var user in role.UserNames)
                        {
                            
                            <td>
                                <div class="d-flex align-items-center">
                                   
                                    <div class="ms-3">
                                        <h6 class="mb-0">@user</h6>
                                       
                                    </div>
                                </div>
                            </td>
                        })
                  
                    
                    
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-page="Update" asp-route-id="@role.Role.Id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" asp-page="Delete" asp-route-id="@role.Role.Id"><i class="bx bx-trash me-1"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                }
                
               
            </tbody>
        </table>
    </div>
</div>